/* ================================================= <<<< Images */
.about-us-image, .about-us-image-small {
	width: 100%;
	height: auto;
	display: block;
}

.about-us-image-small {
	display: none;
}

/* ================================================= <<<< Heading */
.legend-heading {
	font-size: 3.2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 3.5rem;
}
/* ================================================= <<<< History Article */
.history-article {
	margin: 0 auto;
	width: 75%;
	padding-top: 3.5rem;
}
.history-article-figure {
	margin-bottom: 1.5rem;
}
.history-article-pic {
	width: 100%;
	display: block;
}
.history-article-pic-caption {
	font-size: 0.8rem;
	text-align: center;
	margin-top: 0.6rem;
	color: #505050;
	font-style: italic;
}
.history-article-text {
	font-size: 1.15rem;
	line-height: 1.6;
	margin-bottom: 2.5rem;
}
/* ================================================= <<<< Timeline */
.timeline-heading {
	font-size: 2.5rem;
	text-align: center;
}
.timeline-container {
	margin: 1.5rem auto 3rem auto;
	width: 75%;
	position: relative;
}
.timeline-section {
	display: flex;
	position: relative;
}
.timeline-dot {
	width: 1.5rem;
	height: 1.5rem;
	background: #505050;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 2rem;
}
.text-container {
	width: 50%;
	padding: 2rem 0;
}
.arrow-container {
	width: 50%;
	padding: 1.5rem 0;
	display: flex;
	flex-direction: column;
}
.text-container-right, .arrow-container-right {
	padding-left: 2rem;
}
.text-container-left, .arrow-container-left {
	padding-right: 2rem;
}
.line {
	position: absolute;
	background: #505050;
	width: 0.5rem;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
/* ---- text ---- */
.timeline-text {
	line-height: 1.6;
	font-size: 1.1rem;
}
.text-left {
	text-align: right;
}
.timeline-subheading {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.75rem;
}
.timeline-subheading-left {
	text-align: right;
}
/* ---- arrow ---- */
.arrow {
	position: relative;
	background-color: #b0b0b0;
	width: 85%;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow-text {
	font-weight: bold;
	font-size: 0.95rem;
}
.arrow-right {
	margin-left: 3rem;
}
.arrow-right::before {
	content: "";
	position: absolute;
	top: 0;
	left: -1.25rem;
	width: 0;
	height: 0;
	border-top: 1.25rem solid transparent;
	border-bottom: 1.25rem solid transparent;
	border-right: 1.25rem solid #b0b0b0;;
}
.arrow-left {
	margin: 0 3rem 0 auto;
}
.arrow-left::after {
	content: "";
	position: absolute;
	right: -1.25rem;
	width: 0;
	height: 0;
	top: 0;
	border-top: 1.25rem solid transparent;
	border-bottom: 1.25rem solid transparent;
	border-left: 1.25rem solid #b0b0b0;;
}
/* ---- images ---- */
.timeline-image {
  width: 100%;
	padding: 3rem;
	display: block;
}
.timeline-image-left {

	align-self: flex-end;
}
.timeline-image-right {

}

/* ================================================= <<<< Media Queries */
@media (max-width: 1140px) {
	.history-article {
		width: 85%;
		padding: 3.5rem 0 0 0; 
	}
	.timeline-container {
		width: 85%;
	}
}
@media (max-width: 850px) {
	.history-article {
		width: 100%;
		padding: 3.5rem 2rem 0 2rem; 
	}
	.timeline-container {
		width: 100%;
		padding: 0 2rem;
	}
	.timeline-image {
		padding: 3rem 2rem 0 2rem;
	}
	.timeline-text {
		font-size: 1rem;
	}
	.timeline-subheading {
		font-size: 1.3rem;
	}
	.arrow {
		width: 80%;
	}
}
@media (max-width: 600px) {
	.about-us-image {
		display: none;
	}
	.about-us-image-small {
		display: block;
	}
	.history-article {
		padding: 2.5rem 1.5rem 0 1.5rem; 
	}
	.legend-heading {
		font-size: 2.8rem;
		margin-top: 2.5rem;
	}
	.history-article-text {
		font-size: 1rem;
		line-height: 1.6;
		margin-bottom: 1.5rem;
	}
	/* ===================== Timeline Stuff =========================== */
	.section-even {
		flex-direction: column;
	}
	.section-odd {
		flex-direction: column-reverse;
	}
	.arrow-container, .text-container {
		width: 100%;
	}
	.text-container-left {
		padding-right: 0;
		padding-left: 2rem;
	}
	.text-left {
		text-align: left;
	}
	.timeline-subheading-left {
		text-align: left;
	}
	.arrow-container {
		padding-bottom: 0;
	}
	.arrow-left {
		margin: 0 0 0 3rem;
	}
	.arrow-left::after {
		content: '';
		border:none;
	}
	.arrow-left::before {
		content: "";
		position: absolute;
		left: -1.25rem;
		width: 0;
		height: 0;
		top: 0;
		border-top: 1.25rem solid transparent;
		border-bottom: 1.25rem solid transparent;
		border-right: 1.25rem solid #b0b0b0;;
	}
	.timeline-image {
		display: none;
	}
	.line {
		left: 2rem;
		transform: none;
	}
	.timeline-dot {
		left: -0.5rem;
		transform: none;
	}
}
@media (max-width: 400px) {
	.history-article {
		padding-top: 2rem; 
	}
	.legend-heading {
		font-size: 2rem;
		margin-top: 2rem;
	}
	.history-article-text {
		font-size: .9rem;
	}
	.timeline-text {
		font-size: .9rem;
	}
	.text-container-left, .text-container-right {
		padding-left: 1rem;
	}
	/* ===================== Timeline Stuff =========================== */
	.line {
		
		width: 0.4rem;
		
		left: 1.5rem;
		transform: none;
	}
	.timeline-dot {
		
		width: 1.2rem;
		height: 1.2rem;
		
		left: -0.9rem;
		transform: none;
	}
	.arrow-container {
		padding-top: 1.6rem;
	}
	.arrow {
		width: 10rem;
		height: 2rem;
	}
	.arrow-text {
		font-size: 0.9rem;
	}
	.arrow-right, .arrow-left {
		margin-left: 2rem;
	}
	.arrow-right::before, .arrow-left::before {
		content: "";
		position: absolute;
		left: -1rem;
		width: 0;
		height: 0;
		top: 0;
		border-top: 1rem solid transparent;
		border-bottom: 1rem solid transparent;
		border-right: 1rem solid #b0b0b0;;
	}
	
	
	
}
