.contact-container {
	display: flex;
	padding: 3rem;
}
.contact-title {
	text-align: center;
	font-size: 2.2rem;
	margin-top: 3rem;
}
.contact-description {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.3rem;
}
.form-description {
	font-size: 0.9rem;
	font-style: italic;
	margin-bottom: 2rem;
}
.madatory {
	font-size: 1rem;
	font-weight: bold;
	color: red;
}
/* CONTACT DETAILS =====================================================================================*/
.contact-details-container {
	flex-basis: 35%;
}
.details-heading {
	margin-bottom: 3rem;
}
.contact-details-info {
	background: #e0e0e0;
	padding: 1.5rem 2rem;
	line-height: 1.3;	
}
.contact-details-heading {
	font-size: 1rem;
	color: #202020;
}
.contact-details-content {
	color: #202020;
	margin-bottom: 1.5rem;
}
.contact-details-container img {
	display: block;
}
/* CONTACT FORM =====================================================================================*/
.contact-form-container {
	flex-basis: 65%;
	padding: 1.5rem 2rem 1.5rem 1.5rem;
}
.form-row {
	display: flex;
}
.form-item {
	margin: 0.5rem 0;
}
.form-item-text {
	flex-basis: 50%;
}
.form-row div:first-child {
	margin-right: 1rem;
}
.form-item-checkbox {
	margin: 1rem 0 2rem 0;
	line-height: 1.5;
}
.form-item-text input {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	font-size: 1rem;
	margin: 0.25rem 0;
}
.form-item-text input:focus {
	border-radius: 5px;
	border: 1px solid #505050;
	outline: none;
}
form textarea {
	width: 100%;
	height: 12rem;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	font-size: 1rem;
	margin: 0.25rem 0;
	resize: none;
}
form input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
}
form label[for="terms-agreement"] {
	margin-left: 0.35rem;
}
form input[type="submit"] {
	border: none;
	background: #e0e0e0;
	padding: 1rem 2rem;
	font-weight: bold;
	cursor: pointer;
}
form input[type="submit"]:hover {
	background: #a0a0a0;
}

/* MEDIA QUERIES =====================================================================================*/

@media (max-width: 850px) {
	.contact-container {
		flex-direction: column;
	}
}
@media (max-width: 600px) {
	.form-row {
		flex-direction: column;
	}
	.form-row div:first-child {
		margin-right: 0;
	}
	.contact-form-container {
		padding: 2rem 0;
	}
	.contact-container {
		padding: 2rem;
	}
}
@media (max-width: 400px) {
	.contact-container {
		padding: 1.5rem;
	}
	.contact-details-info {
		padding: 1rem;
		font-size: 0.9rem;
	}
	form {
		font-size: 0.9rem;
	}
	.contact-title {
		font-size: 1.8rem;
	}
	.contact-description {
		font-size: 1.3rem;
	}
	.form-description {
		font-size: 0.8rem;
	}
}