* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
}
/* ============================================================================================
 NAV 
============================================================================================ */
nav {
  background-color: #909090;
  flex-shrink: 0;
}
.nav-container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
	position: relative;
	padding: 0.3rem 0;
}
#nav-logo {
  width: 4rem;
}
#nav-logo-link {
	margin: 0 1rem;
}
.main-links-container {
  display: flex;
  align-items: center;
}
.main-links-container a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
	margin-left: 2rem;
}
.main-links-container a:hover, #menu-button:hover{
  color: #000;
}
/* mobile nav */
#menu-button {
	display: none;
	background-color: inherit;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	color: #fff;
  margin-left: auto;
  margin-right: 1rem;
}
/* ============================================================================================
 MOBILE NAV
============================================================================================ */

.overlay {
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 90;
	left: 0;
	top: 0;
	background-color: #303030;
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.overlay ul li {
	margin: 2rem 0;
	list-style-type: none;
}

.overlay a {
	text-decoration: none;
	font-size: 1.6em;
	color: #fff;
	display: inline;
	opacity: 0;
}

.overlay a:hover {
	color: #000;
}

.overlay #close-button {
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-size: 1.5rem;
	background-color: inherit;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
}
.overlay #close-button:hover {
	color: #000;
}
/* ============================================================================================
 MAIN 
============================================================================================ */
main {
  overflow: hidden;
  flex: 1 0 auto;
}
.main-container {
	max-width: 1140px;
	margin: auto; 
}
.promotion-image-large {
  display: block;
}
.promotion-image-small {
  display: none;
}
/* ============================================================================================
 SLIDER 
============================================================================================ */
.slider-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slider-slides {
	display: flex;
	width: 100%;
	height: auto;
}
#prevBtn, #nextBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#nextBtn {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#prevBtn:hover, #nextBtn:hover {
  background-color: rgba(0,0,0,0.8);
}
.slider-image {
	width: 100%;
	flex-shrink: 0;
}
.slider-dot-container {
	position: absolute;
	z-index: 80;
	bottom: 25px;
	left:50%;
	transform: translate(-50%);
	display: flex;
}
.slider-dot {
	border-radius: 4px;
	width: 75px;
	height: 7px;
	border: 2px solid #fff;
	cursor: pointer;
	margin: 0 1rem;
}
/* ============================================================================================
 FOOTER 
============================================================================================ */
footer {
  background-color: #909090;
  flex-shrink: 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}
/* Links */
.footer-links-container {
	margin: 2.5rem 0 1.5rem 0;
}
.footer-links-container a {
	margin: 0 0.65rem;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
}
.footer-links-container a:hover {
	color: #000;
}
/* Social Media Links */
.social-media-links-container {
	margin-bottom: 1rem;
}
.social-logo {
  margin: 0 0.2rem;
}
.social-logo img {
  width: 1.5rem;
}
/* Copyright */
#copyright-info {
	font-size: 0.75rem;
	margin-bottom: 2rem;
}
/* ============================================================================================
 MEDIA QUERIES 
============================================================================================ */
@media (max-width: 992px) {
  /*------------ NAV ------------*/
	.main-links-container {
		display: none;
	}
	#menu-button {
    display: block;
	}
}
@media (max-width: 768px) {
  /*------------ FOOTER ------------*/
  .footer-links-container {
		display: flex;
		flex-direction: column;
		align-items: center;
  }
  .footer-links-container a {
		margin: 0.5rem 0;
	}
	/*------------ SLIDER DOTS ------------*/
	#prevBtn, #nextBtn {
		display: none;
	}
	.slider-dot {
		width: 60px;
		margin: 0 0.6rem;
	}
	.slider-dot-container {
		bottom: 15px;
	}
}
@media (max-width: 600px) {
  /*------------ MAIN ------------*/
  .promotion-image-large {
    display: none;
  }
  .promotion-image-small {
    display: block;
  }
  /*------------ FOOTER ------------*/
  .footer-links-container a {
    font-size: 1em;
	}
	#copyright-info {
		font-size: 0.65em;
	}	
}